<h1><%= @user.name %></h1>
<ul>
  <% @user_products.each do |product| %>
    <li>
      Title: <%= product.title %>
      | Description:<%= product.description %>
      | Deadline: <%= product.deadline %>
    </li>
  <% end %>
</ul>
<a href="/users/">Back to users list ></a>
